.octopus {
	position: relative;
	margin-left: 200px;
	margin-top: 100px;
	z-index: -1;
}

.hat {
	position: absolute;
	top: 10px;
	left: 200px;
}

.glasses {
	position: absolute;
	top: 210px;
	left: 250px;
}